<ion-header>
  <ion-toolbar>
    <ion-title>FAQ</ion-title>
    <ion-buttons slot="start">
      <ion-back-button text="" color="light"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-icon name="search"></ion-icon>
        Cari apa yang ingin anda cari...
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Apa itu sistem pemesananan online?</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Sistem pemesanan barang online digunakan oleh toko untuk menerima pesanan barang dan permintaan tanggapan secara online.Dengan formulir pemesanan barang online Gata Computer, anda dapat membuat sistem pemesanan online yang sesuai untuk bisnis anda dengan cepat mengumpulkan rincian pesanan melalui situs web anda.
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Bagaimana cara membuat sistem pemesanan barang online untuk toko saya?</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Dengan Gata Computer, anda dapat membuat formulir pesanan barang online khusus untuk menerima pesanan toko dan pesanan barang secara online dengan lancar. Cukup tambahkan item anda ke formulir pesanan, dan sematkan formulir di situs web anda atau bagikan dengan tautan. Tergantung pada opsi yang anda pilih, pelanggan dapat membayar langsung saat mereka mengambil pesanan.
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Mengapa pemesanan online bagus untuk toko?</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Untuk beberapa toko, pemesanan online dapat membuka aliran pendapatan baru, meningkatkan visibilitas merk, dan menaarik pelanggan baru dengan menyediakan cara yang lebih mudah untuk memesan di toko anda. Selain itu, pemesanan online sangat ideal untuk individu dan perusahaan yang memesan barang, karena memberi toko lebih banyak waktu untuk mengumpulkan barang dan menyiapkan untuk pesanan yang lebih besar.
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Metode pembayaran apa yang dapat saya tawarkan kepada pelanggan saya?</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Anda dapat mengitegrasikan formulir pesanan anda dengan 30+ gateway pembayaran kami, termasuk PayPal. Yang perlu anda lakukan hanyalah menghubungkan Gata Computer ke gateway pembayaran pilihan anda, dan anda akan dapat mulai menerima pembayaran melalui formulir anda tanpa biaya transaksi tambahan!
    </ion-card-content>
  </ion-card>
</ion-content>
