<ion-header>
  <ion-toolbar>
    <ion-title>Chat</ion-title>
    <ion-buttons slot="start">
      <ion-back-button text="" color="light"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="conversation ion-padding">
    <div class="chat-section" id="chat">
      <div class="chat">
        <div class="your messages">
          <div class="message other">
            Hallo...
          </div>
          <div class="message other">
            Ada yang bisa kami bantu?
            <span>5.25</span>
          </div>
        </div>
      </div>
    </div>
    <div class="message-input">
      <ion-input type="text" placeholder="Ketik pesan"></ion-input>
      <div class="send-button">
        <ion-icon name="send-sharp"></ion-icon>
      </div>
    </div>
  </div>

</ion-content>
