ion-content {

        .logo {
            position: relative;
            width: 100%;
            text-align: center;
            margin-bottom: 15px;
        }
       

            p {
                text-align: center;
            }

}