<ion-header>
  <ion-toolbar>
    <ion-title>Privacy Police</ion-title>
    <ion-buttons slot="start">
      <ion-back-button text="" color="light"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <h2>PRIVACY POLICE</h2>
      <p>Setiap informasi yang anda berikan terbatas untuk tujuan proses yang berkaitan dengan toko Gata Computer dan tanpa tujuan lainnya. Seluruh informasi pribadi yang anda berikan kepada kami hanya akan digunakan dan dilindungi oleh toko Gata Computer.</p>
      <br>
      <h2>CATATAN</h2>
      <p>Toko Gata Computer dapat mengubah kebijakan privacy sewaktu-waktu tanpa pemeritahuan dengan melakukan pengurangan ataupun penambahan ketentuan pada halaman ini. Untuk memastikan perubahan - perubahan terbaru dari waktu ke waktu.</p>
      <br>
      <h2>PENDAHULUAN</h2>
      <p>Kebijakan privacy ini menerangkan bagaimana cara kami mengumpulkan, menggunakan, dan menjaga informasi pribadi anda. Dengan menggunakan dan mengakses situs ini, anda telah menyetujui cara kami memperakukan informasi yang dijelaskan dalam kebijakan ini.</p>
      <br>
      <h2>PENDAFTARAN</h2>
      <p>Semua orang dapat mengakses dan melihat materi di situs kami, namun anda dibutuhkan untuk melakukan pendaftaran (registrasi) untuk mengakses informasi dan layanan pada situs ini secara penuh. Fitur seperti pemesanan barang hanya dapat dilakukan apabila anda sudah menjadi anggota (member) Toko Gata Computer.</p>
      <br>
      <h2>PENGUMPULAN INFORMASI PRIBADI</h2>
      <p>Kami mengumpulkan informasi tentang anda ketika anda mengunjungi halaman website dan menggunakan layanan kami. Ketika anda memberikan informasi kepada kami, anda telah setuju untuk mengisi dan menyimpan informasi pada server kami. Semua informasi pribadi yang kami peroleh dari anda secara sukarela pada saat ada registrasi akan kami simpan, gunakan dan lindungi sesuai dengan undang-undang perlindungan data dan kebijakan privacy ini. Informasi anda kami kumpulkan untuk menyediakan produk dan layanan yang terbaik bagi anda.</p>
    </ion-card-content>
  </ion-card>
</ion-content>
